<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="organization" value="aybars" />
    <add key="application" value="integration-tests" />

    <add key="clientId" value="b3U6QCjr-sBwEeKGkjmdstSlUA" />
    <add key="clientSecret" value="b3U6LxUhbdmSuutlmmvhcVQBpzSYd6I" />
    <add key="userId" value="sdktest" />
    <add key="userSecret" value="sdkpassword" />
  </appSettings>
</configuration>